.Header {
  margin-top: 5%;
  margin-bottom: 2%;
}

.ErrorCard{
  text-align: center;
}

.CompanyInfo {
  margin-top: 4%;
}

.ListItem {
  margin-bottom: 2%;
}

.BeneficialOwners{
  padding-left: 6%;
}

.FormButton {
  text-align: center;
}
.CompanyAddFrom, .CompanyEditForm{
  margin-bottom:4%;
}

.EditTopRow {
  margin-top: 2%;
}